/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
	font-size: 20px;
	line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
	width: 100%;
}

/* QR code generator */
#qrCode {
	margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
	/* Hide captions */
	.carousel-caption {
		display: none;
	}
}

.picture {
	margin: 20px 0 20px 0;
	border-radius: 25px;
	border: 1px solid darkgrey;
	float: left;
}

.weathertitle {
	font-weight: bold;
	vertical-align: text-top;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	padding: 10px 10px 10px 10px;
}

.weatheritem {
	vertical-align: text-top;
	padding: 10px 10px 10px 10px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.weathertable {
	border-radius: 25px;
	background-color: goldenrod;
}

.holidaytable {
	width: 40%;
	margin-top: 30px;
}

	.holidaytable td {
		width: 30%;
	}

.noresultshide {
	display: none;
}

.noresultsshow {
	display: normal;
}

#lastselected {
	visibility: hidden;
}

.map-visible {
	visibility: visible;
}

.map-hidden {
	visibility: hidden;
}

.map-container {
	height: 300px;
	margin: 30px 0;
	border: 2px ridge darkgray;
	border-radius: 5px;
}

.table-striped tbody tr:nth-child(odd) {
	background-color: lightblue;
}

.table-striped tbody tr:nth-child(even) {
	background-color: antiquewhite;
}

.table-striped thead {
	background-color: lightgray;
}

.table-striped {
	border: 2px ridge darkgray;
}

.resourceevent-menu {
	float: left;
	margin-right: 50px;
}