@using JeffMVC.Models
@model Picture
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = @ViewBag.Title;
}

<div class="row">
	<div class="col-md-6">
		<h1>@Model.Name - @Model.Year</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		@await Html.PartialAsync("GetWeather", Model.Forecasts)
	</div>
	<div class="col-md-6">
		@await Html.PartialAsync("Family", new FamilyContext());
	</div>
</div>
<div class="row">
	@foreach (var item in Model.Path)
	{
		<div class="col-md-6">
			<img src="@Url.Content(item)" class="picture" />
		</div>
	}
</div>
