@*
	For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using JeffMVC.Models
@model IEnumerable<Forecast>

<h2>
	@ViewBag.EventsTitle
</h2>
<table class="weathertable">
	@foreach (var item in Model)
	{
		<tr class="weatherrow">
			<td class="weathertitle">@item.title</td>
			<td class="weatheritem">@item.f</td>
		</tr>
	}
</table>
