@using JeffMVC.Models
@model PicturesAndWeatherContext
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Budapest";
}

<div class="row">
	<div class="col-md-6">
		<h1>@Model.Pictures.ToList()[2].Name - @Model.Pictures.ToList()[2].Year</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		@foreach (var item in Model.Pictures.ToList()[2].Path)
		{
			<img src="@Url.Content(item)" class="picture" />
		}
	</div>
	<div class="coll-md-6">
		@await Html.PartialAsync("GetWeather", Model.Forecasts)
	</div>
</div>


