@*
	For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using JeffMVC.Models
@model IEnumerable<Forecast>

<h2>
	@ViewBag.EventsTitle
</h2>
<table>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.title</td>
			<td>@item.f</td>
		</tr>
	}
</table>
